:root{
	--CinzaAzulado: #303741;
	--VerdeLimao: #00ED3C8A;

	--BackgroundGradient: linear-gradient(45deg, #949F9E ,#1E2022 30%);

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

body {
	background: var(--BackgroundGradient);
	overflow: hidden;
}

body, input, textarea, button, p, h1{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}


